
  .tamañocomentarios {
    width: 100%;
  }


  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/assets/img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .centrado-especial {
    margin: 15%;
  }

  .col-md-4 {
    color: #FFFFFF;
  }

  .was-validated {
    margin-top: 11%;
  }